h1
{
  color:rgb(17, 2, 2);
}
.myimage{
  height: 400px;
}
.first{
  background-image: url("/media/articles/martin-schmidli-0ZWu96-_4Sk-unsplash.jpg");
  background-size: cover;
  height: 50vh;
  background-color: rgb(190, 110, 150);
  
}
.second{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  /* background-color: grey; */

}

.first h2{
  font-family: 'Bungee Shade', cursive;
  color: rgba(184, 34, 34, 0.877);
  font-size: 5em;
}
.images>img{
      height: 200px;
      width: 20em;
}